name: AniList
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: anilist.svg
          base: ""
          
          # AniList plugin
          plugin_anilist: yes
          plugin_anilist_user: zenigm
          plugin_anilist_medias: anime, manga
          plugin_anilist_sections: favorites, watching
          plugin_anilist_limit: 2
          plugin_anilist_limit_characters: 22
          
          config_timezone: Asia/Kolkata
