name: Chess
on:
  schedule: [{cron: "0 */12 * * *"}]  # Update every 12 hours
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: chess.svg
          base: ""
          
          # Chess plugin (Chess.com)
          plugin_chess: yes
          plugin_chess_user: izenigm
          plugin_chess_platform: chess.com
          plugin_chess_animation: true
          
          config_timezone: Asia/Kolkata
