name: Fortune
on:
  schedule: [{cron: "0 0 * * *"}]  # Daily fortune cookie
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: fortune.svg
          base: ""
          
          # Fortune cookie plugin
          plugin_fortune: yes
          
          config_timezone: Asia/Kolkata
