name: LeetCode
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: leetcode.svg
          base: ""
          
          # LeetCode plugin
          plugin_leetcode: yes
          plugin_leetcode_user: zenigm              # Replace with YOUR LeetCode username
          plugin_leetcode_sections: solved, skills, recent
          plugin_leetcode_limit_skills: 10
          plugin_leetcode_limit_recent: 5
          
          # Configuration
          config_timezone: Asia/Kolkata
