name: Metrics
on:
  schedule: [{cron: "0 */6 * * *"}]  # Every 6 hours
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.svg
          template: classic
          base: header, activity, community, metadata
          config_timezone: Asia/Kolkata
        env:
          METRICS_TOKEN: ${{ secrets.METRICS_TOKEN }}
          METRICS_USER: zenigm
      # Add more jobs for detailed.svg, isocalendar.svg, trophy integration
